@import "./header.css";
@import "./main.css";

@font-face {
  font-family: "Stolzl-Regular";
  src: url("../fonts/stolzl/Stolzl-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/gotham-pro/gothampro.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover; /*?*/
}

/*----------------------------*/

html {
  font-size: 16px;
}

body {
  background-color: #333333;
}

@media (max-width: 468px) {
	html {
		font-size: 14px;
	}
}
